p {
  padding: 5px;
}

.company-greeting {
  border: 1px solid darkgray;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.dot_green {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    float: right;
    box-shadow:
    0 0 6px 4px rgb(8, 67, 2)
  }
  
  .dot_red {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    float: right;
    box-shadow:
    0 0 6px 4px rgb(67, 2, 2)  /* inner white */
  }
  
  .dot_yellow {
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    float: right;
    box-shadow:
    0 0 6px 4px rgb(67, 62, 2)
  }
  
  .float-right {
    position: relative;
    float: right;
  }
  
  .circle_blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.1;
    }
  }