
@media only screen and (min-width: 0px) and (max-width: 815.9px) {
    .company-greeting p {
        padding: 5px;
      }
      
      .company-greeting {
        border: 1px solid darkgray;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
      }

      h2 {
        font-size: large;
      }
}

@media only screen and (min-width: 816px) {

    .company-greeting p {
        padding: 5px;
    }
  
  .company-greeting {
    border: 1px solid darkgray;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  }
  h2 {
    font-size: smaller;
  }
}