<div class="page">
    <nav class="page__menu menu">
      <ul class="menu__list r-list">
        <li class=""><a routerLink="/{{homeURL}}" class="menu__link r-link text-underlined">Home</a></li>
        <li class=""><a href="/{{homeURL}}/" class="menu__link r-link text-underlined">Refresh</a></li>
        <!--
        <li class=""><a href="#0" class="menu__link r-link text-underlined">Option #3</a></li>
        <li class=""><a href="#0" class="menu__link r-link text-underlined">Option #4</a></li>
        <li class=""><a href="#0" class="menu__link r-link text-underlined">Option #5</a></li>
        -->
        <li class=""><a href="/{{logoutURL}}/" class="menu__link r-link text-underlined">Logout</a></li>
      </ul>
    </nav>
</div>
  