<app-navigation-bar homeURL='home' logoutURL='login'></app-navigation-bar>
<div class="wrapper">
    <div class="container">
      <app-header title="Recipients" baseURL="home" btnText="Add Recipient" btnColor="green" btnClick="toggleAddEmployee"></app-header>
      <app-employees></app-employees>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
    <div class="container">
      <app-header title="Tasks" baseURL="home" btnText="Add Task" btnColor="red" btnClick="toggleAddTask"></app-header>
      <app-tasks-root></app-tasks-root>
    </div>
</div>