.task {
  transition: all 0.75s ease;
  background: grey;
  border: 1px solid ghostwhite;
  color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  max-width: 300px;
}

.task.selected {
  transition: all 0.75s ease;
  background-color: rgb(35, 32, 32);
  border: 1px solid rgb(81, 78, 78);
  color: whitesmoke;
  border-left: 5px solid green;
}

.task h3 {
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h4 {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

b.title {
  font-size: 14px;
}

p {
  font-size: 12px;
}
