<div 
    [ngClass]="{selected: recipient.recipientSelected}" 
    class="recipient" 
    (dblclick)="onToggle(recipient)">
    <h3 class="not-selectable"> <ng-container *ngIf="recipient.recipientSelected || !slimUI">Name: </ng-container>
        {{recipient.recipientFirstName}} {{recipient.recipientLastName}} 
        <ng-container *ngIf="recipient.recipientHasDailyTask">
            <span class="dot_green not-selectable"></span> 
        </ng-container>
        <ng-container *ngIf="!recipient.recipientHasDailyTask && (recipient.tasks!.length == 0)">
            <span class="dot_red circle_blink not-selectable"></span> 
        </ng-container>
        <ng-container *ngIf="!recipient.recipientHasDailyTask && (recipient.tasks!.length > 0)">
            <span class="dot_yellow not-selectable"></span> 
        </ng-container>
    </h3>

    <ng-container *ngIf="recipient.recipientSelected || !slimUI">
        <p class="not-selectable">Phone: {{recipient.recipientPhone}}</p>
        <p class="not-selectable">Email: {{recipient.recipientEmail}}
            <fa-icon class="float-right" *ngIf="recipient.tasks!.length === 0" (click)="deleteRecipient(recipient)" [ngStyle]="{'color': 'red'}" [icon]="faTimes"></fa-icon>
        </p>
        <ng-container *ngIf="recipient.recipientSelected">
            <p class="not-selectable">Tasks Assigned: {{ recipient.tasks!.length }}</p>
            <p class="not-selectable">Last Sent Message: 
                <ng-container *ngIf="recipient.recipientLastMessage! == null || recipient.recipientLastMessage! == ''" class="not-selectable">
                    Never
                </ng-container>
                <ng-container *ngIf="recipient.recipientLastMessage! != null || recipient.recipientLastMessage! != ''" class="not-selectable">
                    {{ recipient.recipientLastMessage! }}
                </ng-container>
            </p>
        </ng-container>
        <ng-container *ngIf="recipient.recipientSelected">
            <app-button
                text="{{ getBtnText() }}"
                (btnClick)="toggleEditButton()"
                color="{{ showEditRecipient ? 'maroon' : 'green' }}"
                routerLink="{{ getRouterLink() }}"
            ></app-button>
        </ng-container>

    </ng-container>

</div>