<form *ngIf="showAddEmployee" class="add-form" (ngSubmit)="onSubmit()">
    <h1>Add Employee</h1>
    <div class="form-control">
        <label for="text">Employee First Name: </label>
        <input type="text" name="employeeFirstName" id="employeeFirstName" [(ngModel)]="employeeFirstName" placeholder="Add Employee First Name"/>
    </div>
    <div class="form-control">
        <label for="text">Employee Last Name: </label>
        <input type="text" name="employeeLastName" id="employeeLastName" [(ngModel)]="employeeLastName" placeholder="Add Employee Last Name"/>
    </div>
    <div class="form-control">
        <label for="text">Employee Phone Number: </label>
        <input type="text" name="employeePhone" id="employeePhone" [(ngModel)]="employeePhone" placeholder="Add Employee Phone Number"/>
    </div>
    <div class="form-control">
        <label for="text">Employee Email: </label>
        <input type="text" name="employeeEmail" id="employeeEmail" [(ngModel)]="employeeEmail" placeholder="Add Employee Email"/>
    </div>
    <div class="more-padding">
        <input type="submit" style="background-color:maroon" value="Save Employee" class="btn btn-block"/>
    </div>
</form>