<form *ngIf="showEditRecipient" class="add-form" (ngSubmit)="onSubmit()">
    <h1>Edit Recipient</h1>
    <div class="flex-box">
        <div class="form-control flex-child">
            <label for="text">Recipient First Name: </label>
            <input type="text" name="recipientFirstName" id="recipientFirstName" [(ngModel)]="recipientEdit.recipientFirstName" value="{{recipientEdit.recipientFirstName}}"/>
        </div>
        <div class="form-control flex-child">
            <label for="text">Recipient Last Name: </label>
            <input type="text" name="recipientLastName" id="recipientLastName" [(ngModel)]="recipientEdit.recipientLastName" value="{{recipientEdit.recipientLastName}}"/>
        </div>
    </div>
    <div class="flex-box">
        <div class="form-control flex-child">
            <label for="text">Recipient Phone Number: </label>
            <input type="text" name="recipientPhone" id="recipientPhone" [(ngModel)]="recipientEdit.recipientPhone" value="{{recipientEdit.recipientPhone}}"/>
        </div>
        <div class="form-control flex-child">
            <label for="text">Recipient Email: </label>
            <input type="text" name="recipientEmail" id="recipientEmail" [(ngModel)]="recipientEdit.recipientEmail" value="{{recipientEdit.recipientEmail}}"/>
        </div>
    </div>
    <div class="more-padding">
        <input type="submit" style="background-color:maroon" value="Save Changes" class="btn btn-block"/>
    </div>
</form>