<form *ngIf="showEditEmployee" class="add-form" (ngSubmit)="onSubmit()">
    <h1>Edit Employee</h1>
    <div class="flex-box">
        <div class="form-control flex-child">
            <label for="text">Employee First Name: </label>
            <input type="text" name="employeeFirstName" id="employeeFirstName" [(ngModel)]="employeeEdit.employeeFirstName" value="{{employeeEdit.employeeFirstName}}"/>
        </div>
        <div class="form-control flex-child">
            <label for="text">Employee Last Name: </label>
            <input type="text" name="employeeLastName" id="employeeLastName" [(ngModel)]="employeeEdit.employeeLastName" value="{{employeeEdit.employeeLastName}}"/>
        </div>
    </div>
    <div class="flex-box">
        <div class="form-control flex-child">
            <label for="text">Employee Phone Number: </label>
            <input type="text" name="employeePhone" id="employeePhone" [(ngModel)]="employeeEdit.employeePhone" value="{{employeeEdit.employeePhone}}"/>
        </div>
        <div class="form-control flex-child">
            <label for="text">Employee Email: </label>
            <input type="text" name="employeeEmail" id="employeeEmail" [(ngModel)]="employeeEdit.employeeEmail" value="{{employeeEdit.employeeEmail}}"/>
        </div>
    </div>
    <div class="more-padding">
        <input type="submit" style="background-color:maroon" value="Save Changes" class="btn btn-block"/>
    </div>
</form>